modules = ["flutter", "flutter-3.16.10", "postgresql-16", "dart", "nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[deployment]
run = ["sh", "-c", "node start-server.js"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 37877
externalPort = 3000
